@import "custom/likert";

.container-wide{
	margin: 0 auto;
	width: 90%;
}

.indent{
	margin-left: 2em;
}

.card-image img{
	
	max-height: 400px;
}

.table-of-contents{
	padding-left: 10px;
}

.table-of-contents a.active{
	border-left: 2px solid #0D47A1;
}

.table-of-contents a:hover {
	border-left: 2px solid #0D47A1;

}
.card-panel{
	position: relative;
}
.wrapper{
	width:100%;
}
body{
	text-overflow: ellipsis;
}
label{
	height: 25px;
  line-height: 25px;
  font-size: 1rem;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Raleway", sans-serif;
	background: #fbfbfb;
}

main {
	display: flex;
	flex: 1 0 auto;
	//align-content: center;
	align-items: center;
}

a, p, span, input {
	//font-size:1.25em !important;
}

sup{
	font-size:0.5em !important;
	vertical-align: super;
}

.divider{
	width: 100%;
	height: 4px;
	color: #ddd;
}


p{
	color: #aaa;
}

.dot{
	width:20px;
	height: 20px;
	background: #aaa;
	border-radius: 100%;
	opacity: 0.25;
	margin: 0 auto;
	display: inline-block;
	margin: 10px;
}

.dot.filled{
	opacity: 1.0;
}

.btn-floating.btn-floating-huge {
    width: 180px;
    height: 180px;
}
.btn-floating.btn-floating-huge i {
    line-height: 180px;
}
.btn-floating-huge i {
    font-size: 100px;
}
.btn-large {
	height:72px;
	line-height:72px;
}

.person{
	width:100%;
	max-width: 150px;
	height: auto;
	max-height: 150px;
}
.meds{
	fill: #fbc007;
}
.mind{
	fill: #F44336;
}
.diet{
	fill: #4CAF50;
}
.support{
	fill: #4CAF50;
}
.mobility{
	fill: #fbc007;
}
.lifestyle{
	fill: #F44336;
}
.chip{
	margin: 0 6px;
}
.chip.medium{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	border-radius:20px;
}
.chip.large{
	font-size: 20px;
	height: 44px;
	line-height: 44px;
	padding: 0 24px;
	border-radius: 22px;
}


// BUTTERFLY LOGO
$height: 110px;
$width: 110px;
$bg-color: #fefefe;
$wings-separation: 5px;
$svg-per: 70%;
$bg-color--ebfblue: rgb(0, 120, 191);

.butterfly {
  position: relative;
  height: $height;
  width: $width;
  border-radius: 50%;
  background-color: $bg-color;
  //background-image: url("http://www.transparenttextures.com/patterns/scribble-light.png");
  //border: 5px solid darken($bg-color, 20);
  margin: 40 auto;
  box-shadow: 0 9px 12px rgba(0,0,0,.25), 0 3px 6px rgba(0,0,0,0.16);
  
  // obfuscate the texture bg
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    //background-color: rgba(0,0,0,0.1);
  }
}


$duration: 10s;
.wings {
  position: absolute;
  width: $svg-per;
  height: $svg-per;
  top: 27%;
  transform-origin: top left;
  animation: flap $duration infinite;
  
  &.left {
    right: 43%;
    transform-origin: right center;
  }
  
  &.right {
    left: 57%;
    transform-origin: left center;
  }
}

.shadow {
  position: absolute;
  width: $svg-per;
  height: $svg-per;
  top: 29%;
  transform-origin: top left;
  opacity: 0.3;
  animation: flap-shadow $duration infinite;
  
  &.left {
    right: 43%;
    transform-origin: right center;
  }
  
  &.right {
    left: 57%;
    transform-origin: left center;
  }
}

@keyframes flap {
  0%, 10%, 40%, 65%, 100% {
    transform: scale(1,1);
  }
  
  25% {
    transform: scale(.75,1);
  }
  
  75%, 85% {
    transform: scale(.85,1);
  }
  
  80% {
    transform: scale(.95, 1);
  }
  
}

@keyframes flap-shadow {
  0%, 10%, 40%, 65%, 100% {
    transform: scale(1,1);
  }
  
  25% {
    transform: scale(.85,1);
  }
  
  75%, 85% {
    transform: scale(.92,1);
  }
  
  80% {
    transform: scale(.97, 1);
  }
  
}