doctype html
html
	head
		title Not Found
		include include/head.jade

	body(style='background-image: url("./img/error_bg.svg"); background-size: cover')

		main
			.container-wide.white-text
				h2
					strong(style='font-size: 2em') 403
					|  &mdash; Unauthorized
				h4 You do not have permission <br>to view this page.
				p: a.btn-large.white(href='./index.html', style='color: #087d98') Home