doctype html
html
	head
		title Not Found
		include include/head.jade

	body(style='background-image: url("./img/background_16.svg"); background-size: cover')

		main
			.container-wide.white-text
				h2
					strong(style='font-size: 2em') 404
					|  &mdash; Not Found
				h4 The page you are looking for could not be found.
				h5 What could have caused this?
				p.white-text - We might have removed the page when we redesigned our website.
				p.white-text - Or the link you clicked might be old and not work anymore.
				p.white-text - Or you might have accidentally typed the wrong URL
				p: a(href='./index.html', style='color: #087d98') Take me home!