doctype html
html
	head
		title Not Found
		include include/head.jade

	body(style='background-image: url("./img/background_16.svg"); background-size: cover')

		main
			.container-wide.white-text
				h2
					strong(style='font-size: 2em') 50X
					|  &mdash; Server Error
				h4 We're sorry, something has <br>gone wrong on our end.
				h5 We will resolve this as quickly as possible
				p: a(href='./index.html', style='color: #087d98') Take me home!