doctype html
html
	head
		title Welcome!
		include include/head.jade

	body
		header
			.row.center.cyan.white-text(style='padding: 20px 0px')
				h3: strong COPD Survey
		main

			.container.center
				h4 Instructions
				.divider
				.container(style='padding-bottom:100px')
					p There are 3 questions. This survey will take about 5 minutes to complete.

				a.btn-floating.btn-huge.waves-effect.waves-light.green
					i.material-icons chevron_right
				h3 Begin!
		footer
			include include/footer.jade