doctype html
html
	head
		title Thanks!
		include include/head.jade

	body
		header
			+progress('50%')
			
		main
			.container(style='margin-top: -80px; margin-bottom: -80px; overflow: hidden')
				.row(style='margin-bottom:0px')

					.col.s6: .right: .card.valign-wrapper(style='width:300px;height:300px;left:40px;z-index:-4')
						.card-content.center: h3.grey-text.text-darken-2 Instead of riding... 

					.col.s6: .left: .card(style='width:300px;height:300px;top:40px;z-index:-3')
						.card-image: image(src='http://lorempixel.com/400/400/people/5')

				.row

					.col.s6: .right: .card(style='width:300px;height:300px;top:-40px;z-index:-5')
						.card-image: image(src='http://lorempixel.com/400/400/people/2')

					.col.s6: .left: .card.valign-wrapper(style='width:300px;height:300px;left:-40px;z-index:-1')
						.card-content.center: h3.grey-text.text-darken-2 Bike when possible

		footer

			include include/footer.jade