doctype html
html
	head
		title Thanks!
		include include/head.jade

	body
		header
			+progress('50%')
			
		main
			
				.row(style='margin-bottom:0px')

					//.col.s12.l6.center: .card(style='width:300px;height:300px;top:20px;left:40px')
						p: i.material-icons.large.grey-text.text-lighten-3 restaurant_menu

					.col.s12.l6.center: .card(style='width:300px;height:300px;top:40px;left:20px')
						.card-image: image(src='http://lorempixel.com/400/400/people/5')

				.row

					//.col.s12.l6.center: .card(style='width:300px;height:300px;top:-40px;left:20px')
						.card-image: image(src='http://lorempixel.com/400/400/people/4')


					.col.s12.l6.offset-l6.center: .card(style='width:300px;height:300px;top:-20px;')
						.card-content: h3.grey-text.text-darken-2 Eat three healthy meals every day

		footer

			include include/footer.jade