doctype html
html
	head
		title Not Found
		include include/head.jade

	body(style='background:#ececec;')

		main
			.row: .col.s6.offset-s3
				.card-panel
					.row(style='margin-bottom: 0px;')
						.col.s3.center
							br
							i.material-icons.red-text.medium warning
						.col.s9
							p Your Wellopp program has not been integrated with your EMR system. Please contacts your administrator for more information regarding system integration.