doctype html

mixin link(href, name)
	.col.s12.l6: .card
		.card-content
			.card-title: a(href=href)= name
			iframe(src=href, style="width:200%;transform: scale(0.5);transform-origin: 0 0;height:800px;margin-bottom:-400px", frameBorder="0")

html
	head
		title Demo
		include include/head.jade


	body.grey.lighten-5(style='overflow-x:hidden;postition:relative')
		ul.table-of-contents.hide-on-med-and-down.pinned(style='top: 20px;')
			li: p Digital Discharge
			li: a(href='#onboarding') Onboarding
			li: a(href='#slide-types') Slide Types
			li: a(href='#general') General
			li: p Patient Prize
			li: a(href='#pp-general') General
			li: p Dashboard
			li: a(href='#error') Error
			li: p Components
			li: a(href='#risk') Risk

		.container.center
			.row.blue.darken-4.white-text: .col.s12
				h1 UI Demos
			.row.grey.lighten-3.blue-text.text-darken-4: .col.s12
				h3 Digital Discharge

			#digital-discharge

			h4 Onboarding
			#onboarding.scrollspy.row
				+link('./welcome.html', 'Welcome')
				+link('./sms-preview.html', 'SMS Preview')
				+link('./prizes.html', 'Prizes')
				+link('./account.html', 'Account')
				+link('./thanks.html', 'Thanks')

			
			h4 Slide Types
			#slide-types.scrollspy.row
				+link('./yesno.html', 'Yes/No')
				+link('./yesnoidk.html', 'Yes/No/Idk')
				+link('./likert.html', 'Likert')
				+link('./multichoice.html', 'Multiple Choice')
				+link('./image-left.html', 'Image Left')
				+link('./image-right.html', 'Image Right')
				+link('./collage.html', 'Image Collage')
				
			h4 General
			#general.scrollspy.row
				+link('./begin.html', 'Begin')
				+link('./full.html', 'Image Full')


			.row.grey.lighten-3.blue-text.text-darken-4: .col.s12
				h3 Patient Prize

			h4 General
			#pp-general.scrollspy.row
				+link('./pp-onboard.html', 'Onboard')

			.row.grey.lighten-3.blue-text.text-darken-4: .col.s12
				h3 Dashboard

			h4 Error
			#error.scrollspy.row
				+link('./403.html', '403')
				+link('./404.html', '404')
				+link('./50x.html', '50X')

			.row.grey.lighten-3.blue-text.text-darken-4: .col.s12
				h3 Components

			h4 Risk
			#risk.scrollspy.row
				+link('./risk.html', 'Risk')
				+link('./survey-result.html', 'Survey Result')

		script(src='https://code.jquery.com/jquery-2.2.3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
		script.
			$(document).ready(function(){
			    $('.scrollspy').scrollSpy();
			 });
					