doctype html
html
	head
		include include/head.jade

	body
		header
			+progress('70%')
		main: .wrapper
			.container: .row.card-panel.center
				i.material-icons.large.grey-text.text-lighten-3 help_outline
				h3.grey-text.text-darken-3.center How often do you smoke?

			.container-wide(style='padding-top:40px')
				.radioset
					ul
						each val in [1,2,3,4,5]
							li
								input(type="radio" name="radio[]" id="radio"+val checked)
								label(for="radio"+val)

				.text-labels
					.text-label Never
					.text-label Barely
					.text-label Sometimes
					.text-label A lot
					.text-label Always
		footer
			include include/footer.jade