include include/head.jade
.container.center

	h1 Welcome to Patient Prize!
	h3.cyan-text Let's get started...
	
	.divider
	br
	.row
		.col.s12.l4: .card-panel
			i.material-icons.large.cyan-text home
			h5 Dashboard
			p Our easy to navigate dashboard makes it simple to find your CareMessenger reminders, see how many points you have earned, and identify your achievements
		.col.s12.l4: .card-panel
			i.material-icons.large.cyan-text notifications
			h5 Wellness Wall
			p The wellness wall is where you can review your CareMessenger reminders. These reminders will help you stay healthy and you will earn points for completing them!
		.col.s12.l4: .card-panel
			i.material-icons.large.cyan-text shopping_cart
			h5 Redeem
			p Redeem the points you have earned in Patient Prize to collect your reward. Prizes include a $100 Whole Foods gift card, Nike athletic shoes, and family water park passes.
	.divider