doctype html
html
	head
		title Thanks!
		include include/head.jade

	body
		header
			+progress('30%')

		main
			.container
				.row.card.center
					.card-image: image(src='http://lorempixel.com/700/250/people/3')
					//i.material-icons.large.grey-text.text-lighten-3 help_outline

					h3.grey-text.text-darken-2 Do you smoke?

		footer
			.container
				.row
					a.col.s4.l2.btn-large.green(href='welcome.html') No
					a.col.s4.l2.offset-s4.offset-l8.btn-large.green(href='thanks.html') Yes

			include include/footer.jade