doctype html
html
	head
		title Thanks!
		include include/head.jade

	body
		header
			+progress('50%')
			
		main
			.container
				.row.card.center
					.card-image: image(src='http://lorempixel.com/700/250/people/9')
					//i.material-icons.large.grey-text.text-lighten-3 help_outline

					h3.grey-text.text-darken-2 Do you take illegal drugs?

		footer
			.container
				.row
					a.col.s4.l3.btn-large.green(href='welcome.html') No
					a.col.s4.l4.offset-l1.btn-large.green(href='#') Not sure
					a.col.s4.l3.offset-l1.btn-large.green(href='thanks.html') Yes

			include include/footer.jade