link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
//link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
link(rel='stylesheet', href='./css/materialize.css')
link(rel='stylesheet', href='./css/main.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300|PT+Sans', type="text/css")
style.
	  body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		font-family: "Raleway", sans-serif;
	  }

	  main {
		flex: 1 0 auto;
		align-content: center;
	  }

	  a, p, span, input {
	    font-size:1.25em !important;
	  }

	  sup{
	  	font-size:0.5em !important;
	  	vertical-align: super;
	  }

	  .divider{
	  	width: 100%;
	  	height: 4px;
	  	color: #ddd;
	  }


	  p{
	  	color: #aaa;
	  }

	  .dot{
	  	width:20px;
	  	height: 20px;
	  	background: #aaa;
	  	border-radius: 100%;
	  	opacity: 0.25;
	  	margin: 0 auto;
	  	display: inline-block;
	  	margin: 10px;
	  }

	  .dot.filled{
	  	opacity: 1.0;
	  }