.card-panel
	h5 Care Team

	ul.collection
		li.collection-item Jean Smith
			i.material-icons.right.grey-text.hide-on-med-and-down mail
			i.material-icons.right.grey-text.hide-on-med-and-down phone
		li.collection-item The Lorax
			i.material-icons.right.grey-text.hide-on-med-and-down mail
		li.collection-item Dusty Baker
			i.material-icons.right.grey-text.hide-on-med-and-down mail

	.row
		a.right(href='#') Manage