.card-panel
	.card-header.light-blue.accent-2
		h5 Detail

	.row
		.col.s12.l6
			table
				tr
					td: label Support System
					td: .chip.amber.white-text: b Med
				tr
					td: label State of Mind
					td: .chip.green.white-text: b Low
				tr
					td: label Medication
					td: .chip.red.white-text: b High
		.col.s12.l6
			table
				tr
					td: label Diet & Activity
					td: .chip.amber.white-text: b Med
				tr
					td: label Lifestyle
					td: .chip.red.white-text: b High
				tr
					td: label Warning Signs
					td: .chip.green.white-text: b Low
		//.col.s12.l2.center(style='padding-top:44px')
			label.center Risk Score
			br
			.chip.amber.white-text.large: b Med