.card-panel
	h5 Risk History
	#history-chart
.card-panel
	.row
		.col.l5
			.hide-on-med-and-down This patient vs. similar patients
		.col.l2.s6.center
			#compare-chart
		.col.l5.s6.center
			label 20% Worse
			br
			label 10% Same
			br
			label 70% Better