.card-panel
	.row
		h5 Assessment
		.col.l5
			.row
				.col.s6
					img.right(src='./img/person2.svg' height='140px' style='margin-top:5px')
				.col.s6
					.left
						label State of Mind
						br
						label Medication
						br
						label Lifestyle
						br
						label Diet
						br
						label Mobility
						br
						label Support System
		.col.l7
			label Recent Note:
			p Patient has been known to jam forks into electrical outlets. Keep small metal objects out of reach. Likes to talk about birdwatching. A LOT.
	.row
		a.right(href='#') Details