.card-panel
	h5 Messaging
		span: .chip.green.right &nbsp;&nbsp;
	
	label 96% Compliance

	ul.collection.with-header
		li.collection-header.grey.lighten-5 Recent Messages
		li.collection-item Did you schedule an appointment?
		li.collection-item Did you pick up your prescriptions?
		li.collection-item Were you able to walk up stairs with assistance from a friend?

	.row
		a.right(href='#') See all