.container
	table.highlight.striped
		thead
			tr
				th Name
				th Date Admitted
				th Risk
				th Surveys
				th Messaging
		tbody
			tr
				td Bill Cosby
				td Jun 1, 2016
				td: .chip.small.red &nbsp;&nbsp;
				td: .chip.small.amber &nbsp;&nbsp;
				td: .chip.small.green &nbsp;&nbsp;
			tr
				td Martin Lawrence
				td Jul 7, 2016
				td: .chip.small.green &nbsp;&nbsp;
				td: .chip.small.red &nbsp;&nbsp;
				td: .chip.small.red &nbsp;&nbsp;