//@import "compass/css3";
$fill-color: #fbfbfb;
$filled-color: #00bcd4;
$outline-color: #aaa;
$radio-size: 180px;
$half-size: $radio-size / 2;
$radio-margin: (-$half-size);
$half-margin: $radio-margin / 2;
$bar-height: 36px;
$bar-margin: -30px;
$column-size: 17%;

.center{
  text-align: center;
}
.text-labels{
  margin: 0 auto;
  text-align: center;
  //padding-top: $half-size;
  font-size: 2em;
}
.text-label{
  width:$column-size;
  display: inline-block;
  vertical-align: top;
}

.radioset.nobar {
  ul{
    &::before{
      display:none;
    }
  }
}
.radioset {
  margin: auto;
  padding: $half-size 0 $half-size 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      top: 60%;
      left: 18%;
      right: 18%;
      height: $bar-height;
      margin-top: $bar-margin;
      background: $outline-color;
      box-shadow: inset 0 3px 5px -4px #000, 0 1px #fff;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: $column-size;
  }

  [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  label {
    line-height: 30px;
    //padding-bottom: 240px;
    display: block;
    font-size: 30px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 60%;
      border-radius: 50%;
      transform: translate3d(0,0,0);
      -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
      -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
      -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
    }

    &::before {      
      width: $radio-size;
      height: $radio-size;
      margin: $radio-margin 0 0 $radio-margin;
      //border: 0 solid #CCC;
      background: $outline-color;
      
      transform: scale( 0.7 );
      box-shadow: inset 0 3px 5px -4px #000, 0 2px 1px -1px #fff;
    }

    &::after {
      width: $half-size;
      height: $half-size;
      margin: $half-margin 0 0 $half-margin;
      background: $fill-color;
      
      transform: scale( 0.7 );
      opacity: 1;
    }
  }

  :checked {
    + label {      
      //&::before,
      &::after {
       // @include transition( .2s cubic-bezier( 1, -1, 0.4, 1.4 ) all );
      }
      
      &::before {      
        transform: scale( 1 );
        background: $filled-color;
      }

      &::after {      
        transform: scale( 1 );
        opacity: 0;
        background: $filled-color;
        //box-shadow: inset 0 -5px 5px -5px #ccc, 0 2px 5px -2px #000;
      }
    }
  }
}

.text-label-4{
  width: 24%;
}

.radioset-4{
  li{
    width: 24%;
  }
}
.radioset{
  :checked + label::before{
    font-size: 100px;
    padding-top: 75px;
    color: #fff;
  }
  :checked + label.wrong{
    &::before{
        background: #f44336 ;
        content: '\2717';
    }
  }
  :checked + label.correct{
    &::before{
        background: #4caf50 ;
        content: '\2713';
    }
  }
}